
html{
    background-color:#eedfcc;
}
body {
    width:1090px;
    padding: 10px;
    margin-left:auto;
    margin-right:auto;
    background-color: #fdf5e6;
}
#div game{
    width:710px;
}
#div game-buttons{
    width:710px;
}
#turn-text{
    width:350px;
    margin-right :5px;
    vertical-align:bottom
}
#pass-button{
    margin-right:20px;
}
#players-div{
    width:50%;
}
#invites-div{
    width:50%;
    float:right;
}
#info-div, #message-div{ 
    width:345px;
}
#info-message-div{
    width:355px;:
    padding-left:10px;
    float:right;
}
textarea{
    width:349px;
    background-color:#fffaf0;
}
textarea:read-only{
    background-color:#faebd7;
}
h1{
    text-align:center;
}
svg{
    border:5px solid #000000;
}
svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
svg text::selection {
    background: none;
}

table{
    border-collapse:collapse;
}
tbody{
    max-height:400px;
}
td, th{
    border:1px solid #e0e0e0;
    padding-left:5px;
    padding-right:5px;
    text-align:center;
}
.tc-hide{
    visibility:collapse;/*Do not work in chrome the collapse option*/
}

