html{
    background-color:#eedfcc;
}
body {
    width:960px;
    padding: 10px;
    margin-left:auto;
    margin-right:auto;
    background-color: #fdf5e6;
}
input[type=text],input[type=password]{
    background-color:#fffaf0;
}
